#list{
    list-style: decimal ; /*liststyle-type list-style-position list-style-image*/
}

#menu{/*menu 셀렉터 생성*/
    background: rosybrown; 
}

#menu ul{/*메뉴를 한줄에 출력 준비*/
    width: 567px;
    margin:0;
    padding:0;
}

#menu ul li{
    display: inline-block;  /* 가장 중요, 인라인 블록 프로퍼티*/
}

#menu a{
    text-decoration: none;
}

#menu a:hover{
    color: red;
}

table{
   
    border-collapse: collapse;
}

td, th{
    text-decoration: none;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 5px;
}

thead{
    background-color: gray;
    border-bottom: 1px solid;
}

thead:hover{
    background-color: purple;
}

tbody td{
    border-bottom: 1px solid;

}
tbody tr:nth-child(even){
    background-color: gray;
}

input[type=text]{
    border: 1px solid lightblue;
    border-radius: 2px;
}

input :focus{
    background-color:lightcoral;
}